body {
    background-color: #121212;
    color: #FFFFFF;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    width: 100%;
}

.container {
    text-align: center;
    background-color: #1E1E1E;
    width: 50%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

h1 {
    margin-bottom: 20px;
    color: #03DAC6;
}

.converter {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin: 5px;
}

input, select, button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #333333;
    color: #FFFFFF;
    margin: 25px;
}

button {
    background-color: #6200EE;
    cursor: pointer;
}

button:hover {
    background-color: #3700B3;
}

.result {
    margin-top: 20px;
}

#resultValue {
    color: #03DAC6;
}
